body {
  background: linear-gradient(to right, yellow, cyan);
  text-align: center;
  font-family: "Reggae One", cursive;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 8px;
  text-shadow: 3px 3px 3px grey;
  width: 100%;
}
h3 {
  text-align: center;
}
#color-code {
  font-size: 15px;
}
